

  .text-white {
    color: #ffffff;
    font-weight: bold;
  }

  .text-primary {
    color: #1a56be;
    font-weight: bold;
  }
  
  .text-orange {
    color: #ef6c00;
    font-weight: bold;
  }

  .text-red {
    color: #d50000;
    font-weight: bold;
  }
  
  .text-success {
    color: #1b5e20;
    font-weight: bold;
  }


  .text-title-card {
    font-size:  20px !important;
    font-weight: bold;
  }
  .text-title {
    font-size: 25px !important;
    font-weight: bold;
  }

  .text-sub-title {
    font-size: 16px !important;
    font-weight: bold;
  }

  .text-remark-title {
    font-size: 14px !important;
    font-weight: bold;
  }



  .text-sub-black {
    font-size: 18px !important;
    font-weight: bold;
    color: #000000;
  }


  .text-title-black {
    font-size: 15px !important;
    color: #000000;
  }



  .text-sub {
    font-size: 16px;
  
  }
  .text-filed {
    font-size: 22px;
  
  }

 

  
  .text-main {
    font-size: 14px;
      font-weight: bold;
  }
  

  .w-100 {
    width: 100%;
  }

  .w-50 {
    width: 50%;
  }
  
  .my-btn {
    font-size: 18px !important;
    text-transform: none !important;
    height: auto !important;
    padding: 10px 0 !important;
  }

  .btn-bar {
    font-size: 14px !important;  
    font-weight: bold !important;

  }
  
  .responsive-image-login {
    width: 100%;
    height: 150px;
  }